@charset "utf-8";

#header{width:1000px; height:80px;
		border:1px solid red;
		margin:10px auto;
		position:relative;}

#header p.aa{position:absolute; left:0; top:7px;}

#header ul{overflow:hidden;}

#header li{float:left;}

#header p{position:absolute; right:10px; top:5px;}

#header ul.a1{position:absolute; left:350px; top:10px;}

#header ul.a2{position:absolute; left:225px; top:40px;}
















